<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    
    <link rel="stylesheet" type="text/css" href="styles/960gs.css" />
    <link rel="stylesheet" type="text/css" href="styles/template.css" />
</head>

<body>    
	<div class="container_16 id="wrapper">
    	
        <div class="grid_16" id="topbar">
    		<p><a href="">Home</a>
        	<a href="">Events</a></p>
	    </div>

    	<div class="grid_6" id="welcome">
        	<p>Name: <br />
            	Roll:&nbsp;&nbsp;Year:<br />
            	Department:
                
            </p>
        </div>	
    	
	</div>
</body>
</html>
